<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Notemilk - Homepage</title>
	<link rel="icon" type="image/ico" href="notemilk.ico">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'notemilk/notemilk.css' %}">
</head>
<body>
	<header>
		<h1><a class="aclear" href="homepage.html">Notemilk</a></h1>
		<h1>Welcome <a class="aclear" href="{% url 'note_list' %}">{{ user.username }}!</a></h1>
		<h1><a class="aclear" href="{% url 'logout' %}">Log Out</a></h1>
		<button type="button"
		onclick="document.getElementById('demo').innerHTML = Date()">
		Click me to display Date and Time</button>
		<h1 id="demo"></h1>
	</header>
  {% block content %}
    <h2>{% if note %}Edit note{% else %}New note{% endif %}</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save">
    </form>
  {% endblock %}
	<footer>
		<p class="footerp">Katherine Berry 2023</p>
	</footer>
</body>
</html>
