<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Notemilk - Login</title>
	<link rel="icon" type="image/ico" href="notemilk.ico">
	<link rel="stylesheet" type="text/css" href="static/notemilk/notemilk.css"/>
</head>
<body>
    <header>
        <h1><a class="aclear" href="homepage.html">Notemilk</a></h1>
        <h1><a class="aclear" href="login.html">Log In</a></h1>
        <button type="button"
        onclick="document.getElementById('demo').innerHTML = Date()">
        Click me to display Date and Time</button>
        <h1 id="demo"></h1>
    </header>
    <h2>Log In</h2>
    <form>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <br>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <br>
            <button type="submit"><a class="aclear" href="dashboard.htm">Login</a></button>
            <br>
            <label>
            <input type="checkbox" name="remember"> Remember me
            </label>
        </div>
    </form>
</body>
</html>